@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
  font-family: 'Press Start 2P', cursive;
}

h1{
  padding: 15px;
}

button{
font-family: 'Press Start 2P', cursive;
font-size: 5px;
}


#pixelPainter{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

div.columns {
  border-style: outset;
  border-width: 1px;
  height: 10px;
  width: 10px;
  display: block;
}

div.rows {
  height: 20px;
  max-width: 100%;
  display: inline-block;
}

#canvases{
  box-sizing: border-box;
}

#pp-colors{
  display: block;
  width: 75px;
}

#pp-colors.grid{
  width: 58px;
  height: 103px;
  border-style: solid;
  border-width: 1px;
  border-color: #BDBDBD;
  box-sizing: border-box;
  margin-left: 5px;
}

#pp-colors .rows {
  display: inline-block;
  height: 8px;
  width: 7.4px;
  margin: 0.8px;
}

#pp-canvas.grid{
  display: inline-block;
  max-width: 100%;
  margin-left: 85px;
}

div.colors {
  border-style: solid;
  border-width: thin;
  border-color: rgba(140, 139, 139, 0.06);
  height: 7px;
  width: 7px;
  display: inline-block;
}

#selected{
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.selected-container{
  display: block;
  width: 61.6px;
  text-align: center;
  margin-top: 5%;
  margin-left: 3px;
}

div.selected-description{
  display: block;
  font-size: 6px;
  margin-top: 2px;
  margin-bottom: 15px;
}

div.left-bar{
  position: absolute;
  display: inline-block;
  width: 85px;
}

div.eraser{
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  height: 15px;
  width: 15px;
  display: inline-block;
}

#highlight{
  border-color: fuchsia;
  border-width: 1.5px;
}

.palette-buttons-container{
  font-size: 7px;
  font-weight: bold;
  display: inline-block;
}

.palette-buttons{
  width: 40px;
  padding: 1px;
  margin-top: 5px;
  margin-right: 2px;
}