#pixelPainter{
  width: 100%;
  height: 100%;
}
div.columns {
  border-style: outset;
  border-width: 1px;
  height: 20px;
  width: 20px;
  display: inline-block;

}

div.rows {
  height: 20px;
  width: 100%;
  display: inline-block;

}

#pp-colors{
  display: inline-block;
}

#pp-colors .rows {
  display: inline-block;
  height: 10px;
  width: 10px;
}

#pp-canvas.grid{
  display: inline-block;
  width: 100%;
  margin-left: 15%;
}

div.colors {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  height: 10px;
  width: 10px;
  display: inline-block;
}

#selected{
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.selected-container{
  display: block;
  width: 61.6px;
  text-align: center;
  margin-top: 210%;
}

div.selected-description{
  display: block;
  font-size: 8px;
  margin-bottom: 15px;
}

div.left-bar{
  position: absolute;
  display: inline-block;
}

div.eraser{
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  height: 15px;
  width: 15px;
  display: inline-block;
}