@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Arbutus');

body{
  font-family: 'Press Start 2P', cursive;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
  background: rgb(214,249,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(214,249,255,1) 0%, rgba(158,232,250,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
}

h1{
  padding: 15px;
  margin-left: 75px;
  color: darkslategray;
}

button{
font-family: 'Press Start 2P', cursive;
font-size: 5px;
}

button:focus{
  outline: 0;
}

input#selected{
  padding: 0px;
  border: none;
  height: 22px;
  width: 20px;
  -webkit-appearance: none;
}

input:focus{
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 5px #719ECE;
}

#pixelPainter{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

div.columns {
  border-style: outset;
  border-width: 1px;
  height: 10px;
  width: 10px;
  display: block;
  background-color: white;
}

div.rows {
  height: 20px;
  max-width: 100%;
  display: inline-block;
}

.big-container{
  background-color: white;
  width: 360px;
  margin-left: 175px;
  height: 360px;
}

#canvases{
  box-sizing: border-box;
}

#pp-colors{
  display: block;
  width: 75px;
}

#pp-colors.grid{
  width: 58px;
  height: 103px;
  border-style: solid;
  border-width: 1px;
  border-color: #BDBDBD;
  box-sizing: border-box;
  margin-left: 18px;
}

#pp-colors .rows {
  display: inline-block;
  height: 8px;
  width: 7.4px;
  margin: 0.8px;
}

#pp-canvas.grid{
  display: inline-block;
  max-width: 100%;
}

div.colors {
  border-style: solid;
  border-width: thin;
  border-color: rgba(140, 139, 139, 0.06);
  height: 7px;
  width: 7px;
  display: inline-block;
}

/*#selected{*/
  /*border-style: solid;
  border-width: thin;
  border-color: lightgray;*/
/*  height: 20px;
  width: 20px;
  display: inline-block;
}*/

.selected-container{
  display: block;
  width: 90px;
  text-align: center;
  margin-top: 5%;
  margin-left: 3px;
}

div.selected-description{
  display: block;
  font-size: 5px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 15px;
  width: 90px;
}

div.left-bar{
  position: absolute;
  display: inline-block;
  width: 120px;
  margin-left: 25px;
}

div.right-bar{
  margin-top: 50px;
  margin-left: 60px;
  width: 600px;
  font-size: 12px;
  font-family: 'Arbutus', cursive;
}

div.eraser{
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  height: 15px;
  width: 15px;
  display: inline-block;
}

#highlight{
  border-color: fuchsia;
  border-width: 1.5px;
}

.palette-buttons-container{
  font-size: 8px;
  font-weight: bold;
  display: inline-block;
}

#fill-all{
  margin-top: 14px;
  margin-bottom: 10px;
}

#eraser{
  margin-bottom: 10px;
}

.edit-buttons {
  display: block;
  font-size:8px;
  width: 110px;
  font-weight:normal;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:5px;
  border:1px solid #74b807;
  padding:7px 20px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
  background:-ms-linear-gradient( top, #89c403 5%, #77a809 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #89c403), color-stop(100%, #77a809) );
  background-color:#89c403;
  color:#ffffff;
  display:inline-block;
  text-shadow:1px 1px 0px #528009;
  -webkit-box-shadow:inset 1px 1px 0px 0px #a4e271;
  -moz-box-shadow:inset 1px 1px 0px 0px #a4e271;
  box-shadow:inset 1px 1px 0px 0px #a4e271;
}
.edit-buttons:hover {
  background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
  background:-ms-linear-gradient( top, #77a809 5%, #89c403 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77a809), color-stop(100%, #89c403) );
  background-color:#77a809;
}
.edit-buttons:active {
  position:relative;
  top:1px;
}
/* This css button was generated by css-button-generator.com */

.buttons {
  margin-right: 5px;
  margin-top: 5px;
  font-size:6px;
  /*font-family:Arial;*/
  font-weight:normal;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:4px;
  border:1px solid #d83526;
  padding:7px 6px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
  background:-ms-linear-gradient( top, #fa665a 5%, #d34639 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa665a), color-stop(100%, #d34639) );
  background-color:#fa665a;
  color:#ffffff;
  display:inline-block;
  text-shadow:1px 1px 0px #98231a;
  -webkit-box-shadow:inset 1px 1px 0px 0px #fab3ad;
  -moz-box-shadow:inset 1px 1px 0px 0px #fab3ad;
  box-shadow:inset 1px 1px 0px 0px #fab3ad;
}
.buttons:hover {
  background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
  background:-ms-linear-gradient( top, #d34639 5%, #fa665a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d34639), color-stop(100%, #fa665a) );
  background-color:#d34639;
}
.buttons:active {
  position:relative;
  top:1px;
}
/* This css button was generated by css-button-generator.com */